body {
  background-image: linear-gradient(
    to right,
    rgba(201, 1, 1, 0),
    rgb(162, 219, 221)
  );
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}
.quizSection {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50%;
  height: 50vh;
  /* background-image:  linear-gradient(to right, rgba(201, 1, 1, 0), rgb(255, 13, 25)); */
  border-radius: 10px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  padding: 40px;
  justify-content: center;
}

.quiz {
  width: 100%;
  padding-right: 60px;
  margin: 40px;

}
input {
  margin: 20px;
}
ul{
    padding-left: 0px;
}
ul li {
  list-style: none;
  width: 100%;
  width: 100%;
  border: solid 1px;
  border-radius: 20px;
  margin: 15px;
}
button{
    margin-top: 20px;
    width: 50%;
    height: 40px;
    border-radius: 10px;
    border-radius: 10px;
    background-color: #4ec74e;
    color: white;
    margin-left: 25%;
}